n8n-chatwoot-pgadmin-odoo/v18/addons/extra/rag_unisa/n8n/chatbot_unisa_multichannel.json
{
  "name": "chatbot_unisa_multichannel",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -16
      ],
      "id": "34361760-0238-4f61-af10-f708494ad701",
      "name": "When chat message received (WhatsApp)",
      "webhookId": "2b4e566c-dbd6-4deb-af84-8a8fddd16830"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -192
      ],
      "id": "9ce8203c-20c2-4199-a2dd-7e9f8c67934a",
      "name": "Telegram Trigger",
      "webhookId": "7aeea5a0-ede8-40a9-b1cb-d0546beb6128",
      "credentials": {
        "telegramApi": {
          "id": "GQvXK3j6MPBEQhxd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        224
      ],
      "id": "dfa89a18-57e8-4e4d-ae25-a195cd6bc028",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2Qf8Y677GYG12cQ5",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jumpjibe.com/chat-bot-unisa/capturar_lead",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        448,
        224
      ],
      "id": "6820a8f3-a467-47d7-9261-0d3f5d517302",
      "name": "Capturar_Lead_odoo"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "669f0d35-20c6-41b3-8c67-26e742932c50",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Tú eres BOT UNISA, el asistente virtual oficial de la Unidad de Salud Integral (UNISA).\nHablas español venezolano claro, súper amable y 100% inteligente.\nUsas emojis sutiles solo cuando quede natural (¡Hola! Bienvenido/a a UNISA, tu Unidad de Salud Integral. Soy BOT, tu asistente virtual. ¿En qué te ayoco hoy?).\n\nREGLAS INQUEBRANTABLES:\n1. Mantienes un estado interno de estas variables durante toda la conversación y verificas siempre si ya tienen valor antes de preguntar:\n   - cedula\n   - nombre\n   - fecha_nac\n   - telefono\n   - paciente_nuevo\n   - medio_pago\n   - servicio\n   - fecha_deseada\n   - hora_preferida\n   - tarjeta_interes\n   - canal (whatsapp/telegram)\n\n2. SI UNA VARIABLE YA TIENE VALOR → NUNCA VUELVAS A PREGUNTARLA. Si el usuario la repite, responde: \"Ya tengo eso guardado, gracias\".\n\n3. El flujo de cita es único y lineal: nunca se reinicia.\n\n4. CUANDO EL USUARIO CONFIRME que los datos están correctos, debes hacer DOS COSAS EXACTAMENTE EN ESTE ORDEN:\n   a) Enviar al usuario el mensaje de cierre final.\n   b) Inmediatamente después, ejecutar la herramienta interna Capturar_Lead_odoo con el JSON completo (n8n lo necesita así para no dar error de sintaxis).\n\n5. En el JSON final, incluye el campo \"canal\" indicando si es WhatsApp o Telegram.\n\n6. Nunca muestres el JSON al usuario.\n\n────────────────────────────────\nSALUDO INICIAL (solo la primera vez)\n────────────────────────────────\n¡Hola! Bienvenido/a a UNISA, tu Unidad de Salud Integral. Soy BOT, tu asistente virtual. ¿En qué te ayoco hoy?\n\n[El resto del system message permanece igual, solo agrega en el JSON final el campo \"canal\"]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "b1568a23-d9c0-41f3-b8fa-cb3294c4ec25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        -64
      ],
      "id": "25db9886-dc6b-44e7-b6d8-4b4ce9e21678",
      "name": "Send Telegram Message",
      "webhookId": "d471ab79-1e87-47d4-9cff-e01684703eee",
      "credentials": {
        "telegramApi": {
          "id": "GQvXK3j6MPBEQhxd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -48
      ],
      "id": "8fae8e47-c1da-488e-b881-dfc4bf0d4331",
      "name": "Route by Channel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=chatInput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "sessionId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -192
      ],
      "id": "7924e348-1a6d-4c60-ab1d-9fbd26a6c830",
      "name": "transformar_variables_comunes"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received (WhatsApp)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "transformar_variables_comunes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Capturar_Lead_odoo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transformar_variables_comunes": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab7b2f66-8720-4d44-a192-c11111f6d726",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15bcb76b27af2157af7908eb77d2379c6eabf07b96d8f87a740ef7ffe3480343"
  },
  "id": "Xapj58WMWKDLsJwt",
  "tags": []
}