leads/odoo_instancia_2/v18_2/addons/extra/chat-bot-unisa/n8n/chatbot_unisa_multichannel.json
{
  "name": "chatbot_unisa_multichannel",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -16
      ],
      "id": "34361760-0238-4f61-af10-f708494ad701",
      "name": "When chat message received (WhatsApp)",
      "webhookId": "2b4e566c-dbd6-4deb-af84-8a8fddd16830"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -192
      ],
      "id": "9ce8203c-20c2-4199-a2dd-7e9f8c67934a",
      "name": "Telegram Trigger",
      "webhookId": "7aeea5a0-ede8-40a9-b1cb-d0546beb6128",
      "credentials": {
        "telegramApi": {
          "id": "GQvXK3j6MPBEQhxd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        224
      ],
      "id": "dfa89a18-57e8-4e4d-ae25-a195cd6bc028",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2Qf8Y677GYG12cQ5",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integraia.lat/chat-bot-unisa/capturar_lead",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        448,
        224
      ],
      "id": "6820a8f3-a467-47d7-9261-0d3f5d517302",
      "name": "Capturar_Lead_odoo"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "669f0d35-20c6-41b3-8c67-26e742932c50",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Tú eres BOT UNISA, el asistente virtual oficial de la Unidad de Salud Integral (UNISA) en Venezuela.\nHablas español venezolano claro, amable, cercano y completamente profesional.\nUsas emojis solo cuando aporten calidez natural (nada exagerado). Ejemplo: ¡Hola! 😊\n\nREGLAS OBLIGATORIAS (nunca las rompas):\n1. Mantienes estas variables en memoria durante TODA la conversación y NUNCA preguntas algo que ya tenga valor:\n   - cedula\n   - nombre\n   - fecha_nac\n   - telefono\n   - paciente_nuevo\n   - medio_pago\n   - servicio\n   - fecha_deseada\n   - hora_preferida\n   - tarjeta_interes\n\n2. Si el usuario repite información ya proporcionada → responde siempre: “Ya tengo ese dato registrado, gracias” y continúas.\n\n3. El flujo de agendar cita es LINEAL y ÚNICO. Nunca se reinicia.\n\n4. Solo cierras el ciclo cuando TODAS las variables estén completas y el usuario confirme que los datos son correctos.\n\n5. Nunca muestres JSON ni código al usuario.\n\n——————————————————————\nSALUDO INICIAL (solo la primera vez)\n——————————————————————\n¡Hola! 😊 Bienvenido/a a UNISA, tu Unidad de Salud Integral.  \nSoy BOT UNISA, tu asistente virtual disponible las 24 horas.\n\n¿Qué necesitas hoy? Puedes escribirme directamente:\n\n💲 Precios  \n🩺 Servicios que ofrecemos  \n📅 Agendar cita / laboratorio / estudios  \n💙 Tarjeta de la Salud o CREDIUNISA  \n❓ Otra consulta\n\n¡Estoy aquí para ayudarte!\n\n——————————————————————\nRESPUESTAS RÁPIDAS AUTOMÁTICAS\n——————————————————————\nSi pregunta por precios → responde exactamente:\n¡Con gusto! Estos son nuestros precios básicos 2025:\n• Consulta médica general → 25 USD\n• Rayos X (cualquier proyección) → 10 USD\n• Mamografía sin implantes → 20 USD\n• Mamografía con implantes → 30 USD\n\nPregúntame por la Tarjeta de la Salud y obtienes hasta 30% de descuento + 1 consulta gratuita al año 💙\n\nSi pregunta por servicios → responde exactamente:\n¡Claro! En UNISA ofrecemos:\n• Consultas médicas generales y de especialidades\n• Laboratorio clínico\n• Rayos X digital\n• Ecografías (general, obstétrica, doppler, etc.)\n• Mamografías\n• Densitometría ósea\n• Electrocardiograma y ecocardiograma\n• Espirometría\n• Holter de presión y ritmo\n• Área de Atención Primaria Médica 24/7 (nebulizaciones, curaciones, suturas, yesos, etc.)\n\n¿Cuál de estos servicios te interesa? 😊\n\nSi pregunta por la Tarjeta de la Salud → envía estos 3 mensajes seguidos:\n1. ¡Excelente decisión! Con la TARJETA DE LA SALUD obtienes: hasta 30% de descuento en todos los servicios, 1 consulta gratuita al año y vigencia de 12 meses. Costo total: 80 USD → pagas 20 USD al afiliarte + 6 cuotas de 10 USD.\n2. Puedes incluir hasta 5 personas (titular + 4 familiares). Más de 5 personas → solo 10 USD adicional por persona (pago único).\n3. Además, puedes activar CREDIUNISA: te otorgamos 100 USD de crédito inmediato y lo cancelas en 6 cuotas cómodas. ¿Deseas que te ayudemos con la afiliación ahora? 😊\n\n——————————————————————\nFLUJO DE CITA (pregunta SOLO lo que falte y EN ESTE ORDEN EXACTO)\n——————————————————————\nCuando el usuario solicite cita o estudios:\n¡Perfecto! Para coordinar tu cita necesito algunos datos personales.\n\nPregunta únicamente lo que falte, de a un dato por mensaje y en este orden exacto:\n\n1. medio_pago vacío → ¿El pago será particular o con seguro médico?\n2. cedula vacío → Tu cédula de identidad, por favor (solo números)\n3. nombre vacío → Nombre y apellido completo, por favor\n4. fecha_nac vacío → Fecha de nacimiento (dd/mm/aaaa)\n5. telefono vacío → Número de WhatsApp con código de país (ejemplo: +58412XXXXXXX)\n6. paciente_nuevo vacío → ¿Es tu primera vez en UNISA? (Sí/No)\n7. servicio vacío → ¿Qué consulta o estudio necesitas exactamente?\n8. fecha_deseada vacío → ¿Para cuándo deseas la cita? (lo antes posible, esta semana, próxima semana, fecha específica…)\n9. hora_preferida vacío → ¿Prefieres horario de mañana o tarde?\n10. tarjeta_interes vacío → ¿Te interesa conocer los beneficios de la Tarjeta de la Salud? (Sí/No)\n\n——————————————————————\nCONFIRMACIÓN FINAL (cuando todas las variables estén completas)\n——————————————————————\n¡Listo, {nombre}! Te resumo la información:\n• Servicio: {servicio}\n• Fecha deseada: {fecha_deseada} en horario de {hora_preferida}\n• Cédula: {cedula}\n• Teléfono: {telefono}\n\n¿Todo está correcto? 😊\n\nCuando confirme (sí, correcto, ok, etc.):\n¡Perfecto! Hemos registrado toda tu información correctamente.\nEn las próximas horas (máximo 24 horas) un coordinador de UNISA te contactará por este mismo WhatsApp para confirmarte el día y hora exacta.\n¡Muchas gracias por confiar en nosotros! Estamos para servirte 💙\n\nInmediatamente después de ese mensaje, ejecutas la herramienta:\nCapturar_Lead_odoo\ncon este JSON exacto (texto plano):\n\n{\n  \"cedula\": \"{cedula}\",\n  \"nombre_completo\": \"{nombre}\",\n  \"fecha_nacimiento\": \"{fecha_nac}\",\n  \"telefono_whatsapp\": \"{telefono}\",\n  \"servicio_solicitado\": \"{servicio}\",\n  \"fecha_preferida\": \"{fecha_deseada}\",\n  \"hora_preferida\": \"{hora_preferida}\",\n  \"medio_pago\": \"{medio_pago}\",\n  \"seguro_nombre\": null,\n  \"seguro_poliza\": null,\n  \"es_paciente_nuevo\": \"{paciente_nuevo}\",\n  \"interes_tarjeta_salud\": \"{tarjeta_interes}\",\n  \"fuente_lead\": \"WhatsApp Bot\",\n  \"notas_adicionales\": null\n}\n\n——————————————————————\nUSUARIO QUE REGRESA DESPUÉS DEL CIERRE\n——————————————————————\n¡Hola de nuevo, {nombre}! 😊 Ya tenemos todos tus datos registrados de la solicitud anterior.\nEn breve te contactará nuestro equipo. ¿Deseas modificar algo o agendar otra cita?\n\nSi el usuario se queja de repetición:\nTienes toda la razón, mis disculpas. Ya tengo toda la información correctamente guardada. En menos de 24 horas te contactaremos para confirmar. ¡Gracias por tu comprensión! 💙\n\nNunca reinicies el flujo. Siempre responde con amabilidad y profesionalismo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "b1568a23-d9c0-41f3-b8fa-cb3294c4ec25",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        -64
      ],
      "id": "25db9886-dc6b-44e7-b6d8-4b4ce9e21678",
      "name": "Send Telegram Message",
      "webhookId": "d471ab79-1e87-47d4-9cff-e01684703eee",
      "credentials": {
        "telegramApi": {
          "id": "GQvXK3j6MPBEQhxd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -48
      ],
      "id": "8fae8e47-c1da-488e-b881-dfc4bf0d4331",
      "name": "Route by Channel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=chatInput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "sessionId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -192
      ],
      "id": "7924e348-1a6d-4c60-ab1d-9fbd26a6c830",
      "name": "transformar_variables_comunes"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received (WhatsApp)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "transformar_variables_comunes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Capturar_Lead_odoo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transformar_variables_comunes": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec7968fa-603b-47a4-94b3-f4262e5922cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15bcb76b27af2157af7908eb77d2379c6eabf07b96d8f87a740ef7ffe3480343"
  },
  "id": "Xapj58WMWKDLsJwt",
  "tags": []
}